<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Assignments</title>
    <link rel="stylesheet" href="./static/styles/assignment.css">
    <link rel="stylesheet" href="./static/styles/navbar.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap"
        rel="stylesheet">
</head>

<body>
    <!--semantic for navbar-->
    <nav class="nav-bar">
        <!-- unordered list of links for navigating the website -->
        <ul class="nav-ul">
            <li id="title"><a href="/main">CSCB63</a></li>
            <li class="ul-space"></li>
            <li><a href="/main">Home</a></li>
            <li><a href="/grade">Grades</a></li>
            <li><a href="/announcements">Announcements</a></li>
            <li><a href="/lecture">Lectures</a></li>
            <li><a href="/tutorial">Tutorials</a></li>
            <li><a href="/assignment">Assignments</a></li>
            <li><a href="/test">Tests</a></li>
            <li><a href="/logout" id="log">Log Out</a></li>
        </ul>
    </nav>

    <div class="content">
        <div class="page-title" id="top-page">
            <h1>Assignments</h1>
            <h3>Please refer to the University of Toronto's
                <a
                    href="https://governingcouncil.utoronto.ca/secretariat/policies/code-behaviour-academic-matters-july-1-2019">
                    Code of Behaviour on Academic Matters</a> for more information regarding Academic Integrity.
            </h3>
            <p>There will be a total of 4 assignments, each worth 5% of your overall grade.
                Please note that only some of the questions will actually be graded; you
                will not know which ones ahead of time.</p>
            <br>
            <p>Assignments will be handed in on <a href="https://markus.utsc.utoronto.ca/">Markus</a></p>
        </div>

        <center>
            <hr class="big-line">
        </center>

        <div class="text-block">
            <h2>Assignment 1</h2>
            <p>Handout (PDF): <a href="sample.pdf">A1.pdf</a></p>
            <p>Handout (Latex): <a href="sample.pdf">A1.tex</a></p>
            <p>Due Date: 12PM EST February 7th 2021</p>
            <p>Submission Details: Submit on Gradescope</p>
        </div>

        <center>
            <hr class="little-line">
        </center>

        <div class="text-block" id="last-text">
            <h2>Assignment 2</h2>
            <p>Handout (PDF): <a href="sample.pdf">A1.pdf</a></p>
            <p>Handout (Latex): <a href="sample.pdf">A1.tex</a></p>
            <p>Due Date: 11:59PM EST March 6th 2021</p>
            <p>Submission Details: Submit on Gradescope</p>
        </div>

        <div id="arrow_image">

            <a href="#title"><img id="arr_img" src="./static/images/Webp.net-resizeimage.png" alt="web"></a>

        </div>

        <footer class="footer">
            <ul class="footer-ul">
               <li class="footer-img"><a href="https://www.utsc.utoronto.ca/cms/faculty-of-computer-science"><img
                        src="./static/images/uoft-cs-faculty-logo.png" alt="Image of UofT Computer Science Faculty Logo"></a></li>
               <li class="ul-space"></li>
               <li class="footer-text">Site Design by: David Zhang and Maliha Lodi</li>
            </ul>
         </footer>
    </div>
</body>

</html>