<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>CSCB63</title>

   <link rel="stylesheet" href="./static/styles/navbar.css">
   <link rel="stylesheet" href="./static/styles/calendar.css">

   <link rel="preconnect" href="https://fonts.gstatic.com">
   <link
      href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap"
      rel="stylesheet">
</head>

<body>
   <!--semantic for navbar-->
   <nav class="nav-bar">
      <!-- unordered list of links for navigating the website -->
      <ul class="nav-ul">
         <li id="title"><a href="/main">CSCB63</a></li>
         <li class="ul-space"></li>
         <li><a href="/main">Home</a></li>
         <li><a href="/grade">Grades</a></li>
         <li><a href="/calendar">Calendar</a></li>
         <li><a href="/announcements">Announcements</a></li>
         <li><a href="/lecture">Lectures</a></li>
         <li><a href="/tutorial">Tutorials</a></li>
         <li><a href="/assignment">Assignments</a></li>
         <li><a href="/test">Tests</a></li>
      </ul>
   </nav>

   <!-- container for the contents of page -->
   <div class="content">
      <!-- header -->
      <div class="page-title" id="top-page">
         <h1>CSCB63 Calendar</h1>
         <h3>Subscribe to the calendar here: <a
               href="https://calendar.google.com/calendar/ical/f2oogqnfo1q728k3lcbtr4v478%40group.calendar.google.com/public/basic.ics">ical
               format</a></h3>
      </div>

      <center>
         <hr class="big-line">
      </center>

      <!-- iframe element to embbed the google calendar from cscb63 website -->
      <iframe
         src="https://calendar.google.com/calendar/embed?src=f2oogqnfo1q728k3lcbtr4v478%40group.calendar.google.com&ctz=America%2FToronto"
         width="1000" height="600" frameborder="0"></iframe>



      <!-- div for the arrow key -->
      <div id="arrow_image">

         <a href="#title"><img id="arr_img" src="./static/images/Webp.net-resizeimage.png" alt="web"></a>

      </div>

      <!-- semantic for the footer -->
      <footer class="footer">
         <ul class="footer-ul">
            <li class="footer-img"><a href="https://www.utsc.utoronto.ca/cms/faculty-of-computer-science"><img
                     src="./static/images/uoft-cs-faculty-logo.png" alt="Image of UofT Computer Science Faculty Logo"></a></li>
            <li class="ul-space"></li>
            <li class="footer-text">Site Design by: David Zhang and Maliha Lodi</li>
         </ul>
      </footer>
   </div>

</body>

</html>