<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lectures</title>
    <link rel="stylesheet" href="./static/styles/lecture.css">
    <link rel="stylesheet" href="./static/styles/navbar.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap"
        rel="stylesheet">
</head>

<body>
    <!--semantic for navbar-->
    <nav class="nav-bar">
        <!-- unordered list of links for navigating the website -->
        <ul class="nav-ul">
            <li id="title"><a href="/main">CSCB63</a></li>
            <li class="ul-space"></li>
            <li><a href="/main">Home</a></li>
            <li><a href="/grade">Grades</a></li>
            <li><a href="/announcements">Announcements</a></li>
            <li><a href="/lecture">Lectures</a></li>
            <li><a href="/tutorial">Tutorials</a></li>
            <li><a href="/assignment">Assignments</a></li>
            <li><a href="/test">Tests</a></li>
            <li><a href="/logout" id="log">Log Out</a></li>
        </ul>
    </nav>

    <div class="content">
        <div class="page-title" id="top-page">
            <h1>Lectures</h1>
            <h4>Print and bring the lecture slides/handouts to class each week</h4>
        </div>
        <div class="lecture-file">
            <a href="Lectures.pdf"><img src="./static/images/file-icon.png" alt="File Icon"></a>
            <p>Get the updated Lecture Schedule here!</p>
        </div>
        <div class="table">
            <div class="head">
                <h3>Week</h3>
            </div>
            <div class="head">
                <h3>Topic</h3>
            </div>
            <div class="head">
                <h3>Wed Readings/Exercises</h3>
            </div>
            <div class="head">
                <h3>Thurs Readings/Exercises</h3>
            </div>
            <div class="head">
                <h3>Wed Slides/Video</h3>
            </div>
            <div class="head">
                <h3>Thurs Slides/Video</h3>
            </div>
            <div class="info-grey">
                <p>1</p>
            </div>
            <div class="info-grey">
                <p>Intro, Worst Case Complexity</p>
            </div>
            <div class="info-grey">
                <p>None</p>
            </div>
            <div class="info-grey">
                <p>CLRS 3.1 (not including little "oh") or watch
                    <a href="https://www.youtube.com/watch?v=__vX2sjlpXU">Big Oh Video</a> and
                    <a href="https://www.youtube.com/watch?v=JU767SDMDvA">Insertion Sort Video</a>
                </p>
            </div>
            <div class="info-grey">
                <p><a href="sample.pdf">Intro Slides PDF</a></p>
            </div>
            <div class="info-grey">
                <p><a href="sample.pdf">Worksheet PDF</a></p>
                <p><a
                        href="https://utoronto.zoom.us/rec/play/w5Ims_xwzyJUVhutTMqNBT0caqXCWYyMWx5X-FJvA1dFPpCrjdO8V5osw6hsxEM74HVTmX9jZ2jdwCLj.qvnXbtIQPChGF0bo">Zoom
                        Recording</a></p>
                <p><a href="sample.pdf">Worksheet1_class</a></p>
                <p><a href="sample.pdf">Slides.pdf</a></p>
            </div>
            <div class="info-white">
                <p>2</p>
            </div>
            <div class="info-white">
                <p>Balanced Trees (AVL)</p>
            </div>
            <div class="info-white">
                <p>None</p>
            </div>
            <div class="info-white">
                <p>Refresh your understanding of binary search trees
                    <a href="https://www.cs.usfca.edu/~galles/visualization/BST.html"> video
                        visualization applet</a>
                </p>
            </div>
            <div class="info-white">
                <p><a href="sample.pdf">Worksheet</a></p>
                <p><a href="sample.pdf">In-class Worksheet</a></p>
                <p><a href="sample.pdf">Slides</a></p>
                <p><a
                        href="https://utoronto.zoom.us/rec/play/cPkKVMthfBjSNh8C9arS5iU0ZBNtkUX8etKMklUCM8aPpiVtnl2_Y5YR_cWddFB2vlWa0jkGSEqWNEhk.hNVzvFkr8380FGns">Zoom
                        Recording</a></p>
            </div>
            <div class="info-white">
                <p><a href="sample.pdf">Worksheet</a></p>
                <p><a href="sample.pdf">In-class Worksheet</a></p>
                <p><a href="sample.pdf">Slides</a></p>
                <p><a
                        href="https://utoronto.zoom.us/rec/play/YJYxBNbdKY8lIY98qjI_jHY5ZC73gSUeFCtAKmy6xJF6GEtw_VWFTFGr_guqhthaDEoRhYogPHBbR3fa.c5lUGL0uWjqS5aUX">Zoom
                        Recording</a></p>
            </div>
            <div class="info-grey">
                <p>3</p>
            </div>
            <div class="info-grey">
                <p>AVL Trees height, and Augment. Interval Trees</p>
            </div>
            <div class="info-grey">
                <p>None</p>
            </div>
            <div class="info-grey">
                <p>None</p>
            </div>
            <div class="info-grey">
                <p><a href="sample.pdf">AVL Trees Augmenting Worksheet</a></p>
                <p><a href="sample.pdf">Worksheet</a></p>
                <p><a href="sample.pdf">In-class Worksheet</a></p>
                <p><a
                        href="https://utoronto.zoom.us/rec/play/xe3-BWhQIa99HuA6ar-kqNg028IUwxpfPnCN0r4sFtxP0_-MDbeK6coEm-bLm7b8GzO6FTwMXr9uqcMf.IvWbqDbkC9o5p3R1"></a>Zoom
                    Recording</p>
            </div>
            <div class="info-grey">
                <p><a href="sample.pdf">Interval Trees</a></p>
                <p><a href="sample.pdf">Solutions</a></p>
                <p><a href="sample.pdf">Interval Trees - In Class</a></p>
                <p><a
                        href="https://utoronto.zoom.us/rec/play/79LC30arivLpru-P863qalDb3ZjdsfdFrBMQPw-LuxDxxyvhcF_SURRw1zHHzgoW4UaVzrkNw-akYHC9.z4jw34MXv1txuaEo">Zoom
                        Recording</a></p>

            </div>
            <div class="info-white">
                <p>4</p>
            </div>
            <div class="info-white">
                <p>Finish Interval Trees, Heaps and Graph Search Algorithms</p>
            </div>
            <div class="info-white">
                <p>None</p>
            </div>
            <div class="info-white">
                <p>Chapter 6.1-6.4</p>
            </div>
            <div class="info-white">
                <p><a href="sample.pdf">Interval Tree</a></p>
                <p><a href="sample.pdf">Search Proof</a></p>
                <p><a href="sample.pdf">Heaps</a></p>
                <p><a
                        href="https://utoronto.zoom.us/rec/play/zpBKZxDPmhHRldejrZ0fnXt1Cvrp0ofjSzjzXwQiDCrBze29y1GDemjGLp8uMLg0txf5m4_Sl_j8Zg0g.17AKCDIZldEHg825">Zoom
                        Recording</a></p>
            </div>
            <div class="info-white">
                <p><a href="sample.pdf">Heaps In-Class</a></p>
                <p><a href="sample.pdf">Heap Building Example</a></p>
                <p><a
                        href="https://utoronto.zoom.us/rec/play/cdZUm3Uso9zxI5cres_xWo-TFx4FObO-q42FyWdkhqHY3GtHnxdXVUldc8YjVobpapnvkGGfbRHntZKV.DpkZreT6rHqqcwT2">Zoom
                        Recording</a></p>
            </div>
            <div class="info-grey">
                <p>5</p>
            </div>
            <div class="info-grey">
                <p>Graph Seaches and Minimum Spanning Trees</p>
            </div>
            <div class="info-grey">
                <p>Term Test Wednesday</p>
            </div>
            <div class="info-grey">
                <p>If you have not had your tutorial yet, read the graph handout on the tutorials page</p>
            </div>
            <div class="info-grey">
                <p>None</p>
            </div>
            <div class="info-grey">
                <p><a href="sample.pdf">Graph Search Slides</a></p>
                <p><a href="sample.pdf">Searches Wroksheet</a></p>
                <p><a href="sample.pdf">MST Slides</a></p>
                <p><a href="sample.pdf">MST Worksheet Solutions</a></p>
                <p><a
                        href="https://utoronto.zoom.us/rec/play/SCnzsPIBWdq0QN1KR9XM6yNQrRbY0n7iQwRZWlzycAsmUBJ0Qo0BlSLbE3jDoBP0TXfExU3mQcmS0jwS.5o01Wyhv502R1fm9">Zoom
                        Recording</a></p>
                <p><a href="sample.pdf">In-Class Graph Notes</a></p>
                <p><a href="sample.pdf">MST In-Class</a> Only to Slide 15</p>
            </div>
            <div class="info-white">
                <p>6</p>
            </div>
            <div class="info-white">
                <p>Proof of Prims, Dijkstra's Algorithm, Strongly Connected Components</p>
            </div>
            <div class="info-white">
                <p>Ch 24.3, Practice Prims algorithm</p>
            </div>
            <div class="info-white">
                <p>22.5, Review DFS - make sure you understand it</p>
            </div>
            <div class="info-white">
                <p><a href="sample.pdf">MST In-Class</a></p>
                <p><a href="sample.pdf">Dijkstra</a></p>
                <p><a
                        href="https://utoronto.zoom.us/rec/play/s8HE2dtGwcl7OWtfMMlQ9I_ivR3mmbieSP3lPhYygBqdIj7Do-uExVtGY5Ln-f0Pj9whkVdMS5w8hIU4.Glja1FlY-UeG3zYv">Zoom
                        Recording</a></p>
            </div>
            <div class="info-white">
                <p><a href="sample.pdf">Strongly Connected Components Slides</a></p>
                <p><a href="sample.pdf">SCC Examples</a></p>
                <p><a
                        href="https://utoronto.zoom.us/rec/play/-Trk15VmueBwP8g1ewUUDeMIp-jSbJT8RDztfFgbkbVvsJBFNTLr6h4ootD2bC7jyX9HiQomclqYqbYH.XEg8QLRQfSMQ0iv4">Zoom
                        Recording</a></p>
            </div>
            <div class="info-grey">
                <p>7</p>
            </div>
            <div class="info-grey">
                <p>Amortized Analysis</p>
            </div>
            <div class="info-grey">
                <p>Ch. 17.4, Ch. 21</p>
            </div>
            <div class="info-grey">
                <p>None</p>
            </div>
            <div class="info-grey">
                <p><a href="sample.pdf">Amortized Lecture Slides</a></p>
                <p><a href="sample.pdf">Amortized Lecture Slides - In-Class</a></p>
                <p><a
                        href="https://utoronto.zoom.us/rec/play/Ms9uZypiMbcYSes1jevEOJZf8cqMq_PBybH85r2rEdaARuXQOQcWF3dYgiaidZqGQTuaqchmJ1-hax4D.JS_0iOHyLPMjt66M">Zoom
                        Recording</a></p>
            </div>
            <div class="info-grey">
                <p><a href="sample.pdf">Potential Lecture Slides</a></p>
                <p><a href="sample.pdf">Potential Lecture In-Class</a></p>
                <p><a
                        href="https://utoronto.zoom.us/rec/play/CkJgpEBfL2nrdOuItJHlNO5xC3Uvy4-yYQePug3l-GEWE0h1ANwKM3H-pIrUfDv8WMUcJRXbFdaSUHi3.AmfGlBo6OeKxBGrb">Zoom
                        Recording</a></p>

            </div>

            <div class="info-white">
                <p>8</p>
            </div>
            <div class="info-white">
                <p>Disjoint Sets, Fibonacci Heaps</p>
            </div>
            <div class="info-white">
                <p>Ch. 20</p>
            </div>
            <div class="info-white">
                <p>None</p>
            </div>
            <div class="info-white">
                <p><a href="sample.pdf">Disjoint Sets</a></p>
                <p><a
                        href="https://utoronto.zoom.us/rec/play/BM5ICZEeNZV0HlYeDiza1zvzCOPstKNpe6uxOw2pmw5Uq20Upz23r89scLKdSj6fgk033vB2RMclIV85.1ydcqiZ09BXwkTNh">Zoom
                        Recording</a></p>
            </div>
            <div class="info-white">
                <p><a href="sample.pdf">Fibonacci Heaps Annotated</a></p>
                <p><a href="sample.pdf">Fibonacci Heaps Complexity</a></p>
                <p><a
                        href="https://utoronto.zoom.us/rec/play/1xPM9-18oaFDzYKGHkwns_sBKZzpnpzgFDLvUyus1pdvP2FaYswyK4MTs329Hdq9_f_xpA8we7vb1JVy.yEqV7pl8ySuN6K__">Zoom
                        Recording</a></p>
            </div>

        </div>

        <div id="arrow_image">

            <a href="#title"><img id="arr_img" src="./static/images/Webp.net-resizeimage.png" alt="web"></a>

        </div>

        <footer class="footer">
            <ul class="footer-ul">
               <li class="footer-img"><a href="https://www.utsc.utoronto.ca/cms/faculty-of-computer-science"><img
                        src="./static/images/uoft-cs-faculty-logo.png" alt="Image of UofT Computer Science Faculty Logo"></a></li>
               <li class="ul-space"></li>
               <li class="footer-text">Site Design by: David Zhang and Maliha Lodi</li>
            </ul>
         </footer>
    </div>


</body>

</html>