<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tests</title>
    <link rel="stylesheet" href="./static/styles/test.css">
    <link rel="stylesheet" href="./static/styles//navbar.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap"
        rel="stylesheet">
</head>

<body>
    <!--semantic for navbar-->
    <nav class="nav-bar">
        <!-- unordered list of links for navigating the website -->
        <ul class="nav-ul">
            <li id="title"><a href="/main">CSCB63</a></li>
            <li class="ul-space"></li>
            <li><a href="/main">Home</a></li>
            <li><a href="/grade">Grades</a></li>
            <li><a href="/announcements">Announcements</a></li>
            <li><a href="/lecture">Lectures</a></li>
            <li><a href="/tutorial">Tutorials</a></li>
            <li><a href="/assignment">Assignments</a></li>
            <li><a href="/test">Tests</a></li>
            <li><a href="/logout" id="log">Log Out</a></li>
        </ul>
    </nav>

    <div class="content">
        <div class="page-title" id="top-page">
            <h1>Tests</h1>
        </div>

        <center>
            <hr class="big-line">
        </center>
        <div class="text-block">
            <h3>Term Tests (3)</h3>
            <p>There will be three term tests. They will all be one hour long each.
                Every term test is worth 15% of your overall final grade (i.e Test
                1 is worth 15%, Test 2 is worth 15%, Test 3 is worth 15%) They will
                all be held in the Wednesday lecture time slot.
            </p>
            <div class="three-tests">
                <p>Term Test 1 covers A1.</p>
                <p>Term Test 2 covers A2.</p>
                <p>Term Test 3 covers A3.</p>
            </div>
        </div>

        <center>
            <hr class="little-line">
        </center>

        <div class="text-block">
            <h3>Final Exam</h3>
            <p>The final exam is worth 35% of your overall grade. More information
                regarding the final exam, such as the date and time, will be given closer
                to the end of the semester.
            </p>
        </div>

        <div class="sample"></div>



        <div id="arrow_image">

            <a href="#title"><img id="arr_img" src="./static/images/Webp.net-resizeimage.png" alt="web"></a>

        </div>

        <footer class="footer">
            <ul class="footer-ul">
               <li class="footer-img"><a href="https://www.utsc.utoronto.ca/cms/faculty-of-computer-science"><img
                        src="./static/images/uoft-cs-faculty-logo.png" alt="Image of UofT Computer Science Faculty Logo"></a></li>
               <li class="ul-space"></li>
               <li class="footer-text">Site Design by: David Zhang and Maliha Lodi</li>
            </ul>
         </footer>
    </div>

</body>

</html>