<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tutorials</title>
    <link rel="stylesheet" href="./static/styles/tutorial.css">
    <link rel="stylesheet" href="./static/styles/navbar.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap"
        rel="stylesheet">
</head>

<body>

    <!--semantic for navbar-->
    <nav class="nav-bar">
        <!-- unordered list of links for navigating the website -->
        <ul class="nav-ul">
            <li id="title"><a href="/main">CSCB63</a></li>
            <li class="ul-space"></li>
            <li><a href="/main">Home</a></li>
            <li><a href="/grade">Grades</a></li>
            <li><a href="/announcements">Announcements</a></li>
            <li><a href="/lecture">Lectures</a></li>
            <li><a href="/tutorial">Tutorials</a></li>
            <li><a href="/assignment">Assignments</a></li>
            <li><a href="/test">Tests</a></li>
            <li><a href="/logout" id="log">Log Out</a></li>
        </ul>
    </nav>

    <div class="content">
        <div id="div-space"></div>
        <div class="page-title" id="top-page">
            <h1>Tutorial Handouts</h1>
        </div>

        <div class="table">
            <div class="head">
                <h3>Week</h3>
            </div>
            <div class="head">
                <h3>Topic</h3>
            </div>
            <div class="head">
                <h3>Handout</h3>
            </div>
            <div class="head">
                <h3>Solutions</h3>
            </div>
            <div class="info-grey">
                <p>1</p>
            </div>
            <div class="info-grey">
                <p>No Tutorial</p>
            </div>
            <div class="info-grey">
                <p>None</p>
            </div>
            <div class="info-grey">
                <p>None</p>
            </div>

            <div class="info-white">
                <p>2</p>
            </div>
            <div class="info-white">
                <p>Worst Case Complexity</p>
            </div>
            <div class="info-white">
                <p><a href="sample.pdf">Handout</a></p>
            </div>
            <div class="info-white">
                <p><a href="sample.pdf">Solution</a></p>
            </div>

            <div class="info-grey">
                <p>3</p>
            </div>
            <div class="info-grey">
                <p>AVL Trees Insert/Delete</p>
            </div>
            <div class="info-grey">
                <p><a href="sample.pdf">Handout</a></p>
            </div>
            <div class="info-grey">
                <p><a href="sample.pdf">Solution</a></p>
            </div>

            <div class="info-white">
                <p>4</p>
            </div>
            <div class="info-white">
                <p>Practice Term Test Format</p>
            </div>
            <div class="info-white">
                <p>None</p>
            </div>
            <div class="info-white">
                <p>None</p>
            </div>

            <div class="info-grey">
                <p>5</p>
            </div>
            <div class="info-grey">
                <p>Graph Search Algorithms</p>
            </div>
            <div class="info-grey">
                <p><a href="sample.pdf">Graph Definitions</a></p>
                <p><a href="sample.pdf">BFS Handout</a></p>
                <p><a href="sample.pdf">BFS Practice</a></p>
            </div>
            <div class="info-grey">
                <p>None</p>
            </div>

            <div class="info-white">
                <p>6</p>
            </div>
            <div class="info-white">
                <p>MSTs and Prims Algorithm</p>
            </div>
            <div class="info-white">
                <p><a href="sample.pdf">Handout</a></p>
            </div>
            <div class="info-white">
                <p>None</p>
            </div>

            <div class="info-grey">
                <p>7</p>
            </div>
            <div class="info-grey">
                <p>Dijkstra</p>
            </div>
            <div class="info-grey">
                <p><a href="sample.pdf">Handout</a></p>
            </div>
            <div class="info-grey">
                <p>None</p>
            </div>

            <div class="info-white">
                <p>8</p>
            </div>
            <div class="info-white">
                <p>Amortized Analysis - Binary Counter</p>
            </div>
            <div class="info-white">
                <p><a href="sample.pdf">Handout</a></p>
            </div>
            <div class="info-white">
                <p>None</p>
            </div>

            <div class="info-grey">
                <p>9</p>
            </div>
            <div class="info-grey">
                <p>Probability</p>
            </div>
            <div class="info-grey">
                <p><a href="sample.pdf">Handout</a></p>
            </div>
            <div class="info-grey">
                <p>None</p>
            </div>



        </div>

        <div id="arrow_image">

            <a href="#title"><img id="arr_img" src="./static/images/Webp.net-resizeimage.png" alt="web"></a>

        </div>

        <footer class="footer">
            <ul class="footer-ul">
               <li class="footer-img"><a href="https://www.utsc.utoronto.ca/cms/faculty-of-computer-science"><img
                        src="./static/images/uoft-cs-faculty-logo.png" alt="Image of UofT Computer Science Faculty Logo"></a></li>
               <li class="ul-space"></li>
               <li class="footer-text">Site Design by: David Zhang and Maliha Lodi</li>
            </ul>
         </footer>

</body>

</html>